@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin max-mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (max-width: calc($size - 1px)) {
		@content;
	}
}

@mixin background-image-reset {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin green-theme {
	background-color: var(--clr-primary-400);
	color: var(--clr-neutral-200);
}

@mixin card-layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__heading {
		margin-bottom: 0.75em;
		font-size: var(--fz-600);
		line-height: 1.1;
	}

	@include mq(medium) {
		flex-direction: row;
		text-align: left;
	}

	@include mq(large) {
		flex-direction: column;
		text-align: center;
	}
}

@mixin flex-reverse-base {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

@mixin accent-font {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-900);
}
