@use './variables';
@use './mixins';

:root {
	/* colors */
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	/* font families */
	--ff-primary: 'Barlow', sans-serif;
	--ff-secondary: 'Fraunces', serif;

	/* font weight */
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	/* font sizes */
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	// font size exceptions
	--fz-primary-nav-link: 2.4rem;
	--fz-collection-heading: 4rem;
	--fz-steps-number: 7.2rem;
	--fz-steps-heading: 2.8rem;
	--fz-commitment-heading: 3.2rem;
	--fz-location: 2.8rem;
	--fz-dropdown-heading: 2.4rem;
	--fz-modal-heading: 2.8rem;
	--fz-modal-checkout-price: 1.8rem;

	@include mixins.mq(medium) {
		--fz-primary-nav-link: var(--fz-200);
		--fz-collection-heading: 9.6rem;
		--fz-location: 2.4rem;
		--fz-dropdown-heading: var(--fz-700);
		--fz-modal-heading: 4rem;
		--fz-modal-checkout-price: 3.2rem;
	}

	@include mixins.mq(large) {
		--fz-collection-heading: 15rem;
		--fz-steps-heading: 3.2rem;
		--fz-commitment-heading: 4rem;
		--fz-location: 3.2rem;
	}

	/* border radius */
	@each $radius, $value in variables.$border-radius {
		--borr-#{$radius}: #{$value};
	}

	/* spacing */
	--reasons-overflow-spacer: 50rem;
	--quality-overflow-spacer: 7.8rem;

	@include mixins.mq(medium) {
		--reasons-overflow-spacer: 32rem;
		--quality-overflow-spacer: 16rem;
	}

	@include mixins.mq(large) {
		--reasons-overflow-spacer: 16rem;
		--quality-overflow-spacer: 8.8rem;
	}
}
