@use '../base/mixins';

/* margins */
.mx-auto {
	margin-inline: auto;
}

.mx-auto-sm {
	@include mixins.max-mq(medium) {
		margin-inline: auto;
	}
}

.mx-auto-md {
	@include mixins.max-mq(large) {
		margin-inline: auto;
	}
}

/* paddings */
.padding-inline-clamp {
	padding-inline: clamp(2.4rem, -1rem + 7.5vw, 8.4rem);
}

.padding-inline-clamp-lg {
	@include mixins.mq(large) {
		padding-inline: clamp(2.4rem, -1rem + 7.5vw, 8.4rem);
	}
}

.padding-block-clamp-lg {
	padding-block: clamp(12rem, 3rem + 15vw, 16.8rem);
}
