@use '../base/mixins';

.about {
	&__heading {
		font-size: var(--fz-commitment-heading);
	}

	&__image {
		height: auto;

		@include mixins.max-mq(medium) {
			margin-inline: auto;
			width: min(100%, 40rem);
		}
	}
}
