@use '../base/mixins';

.address {
	font-style: normal;

	&__country {
		@include mixins.accent-font;
		margin-top: 1.25em;
		margin-bottom: 0.75em;
		font-size: var(--fz-location);
		line-height: 1.1;
	}

	&__phone {
		display: inline-block;
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}
