@use '../base/mixins';
@use '../base/functions';

.collection {
	--min-padding: 12rem;
	--max-padding-top: 25rem;
	--max-padding-bottom: 17rem;
	position: relative;
	padding-top: clamp(var(--min-padding), 25vw - 5rem, var(--max-padding-top));
	padding-bottom: clamp(var(--min-padding), 18vw, var(--max-padding-bottom));

	&__cards {
		--min-gap: 3rem;
		--max-gap: 5rem;
		--even-columns-spacer: clamp(var(--min-gap), 10rem - 7.5vw, var(--max-gap));
	}

	&__heading {
		$text-color: functions.get-color(neutral, 500);
		margin-bottom: 1em;
		font-size: var(--fz-collection-heading);
		text-align: center;
		text-transform: lowercase;
		color: $text-color;

		@include mixins.mq(medium) {
			position: absolute;
			z-index: -1;
			top: var(--max-padding-top);
			left: 50%;
			transform: translate(-50%, calc(var(--fz-collection-heading) * -1));
			width: max-content;
			/* gradient for text color */
			color: transparent;
			background-image: linear-gradient(180deg, fade-out($text-color, 0.25) 10%, var(--clr-neutral-200) 80%);
			background-clip: text;
		}
	}
}
