@use '../base/mixins';

.collection-card {
	--body-max-width: 32ch;
	--image-max-width: 25.5rem;
	@include mixins.card-layout;
	gap: 2.4rem;

	&__body {
		max-width: var(--body-max-width);
	}

	&__image {
		max-width: min(100%, var(--image-max-width));
	}

	@include mixins.mq(medium) {
		justify-content: space-evenly;
	}

	@include mixins.mq(large) {
		--body-max-width: 100%;
	}
}
