@use '../base/mixins';

.modal {
	--max-width: 54rem;
	--margin-inline: 2.4rem;
	--elements-padding: clamp(2.4rem, 1rem + 5vw, 5.6rem);
	--top: 3.6rem;

	@include mixins.mq(medium) {
		--top: 21.4rem;
	}

	display: none;
	position: absolute;
	top: var(--top);
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	box-shadow: 0 2em 2em hsl(0 0% 0% / 0.25);
	width: min(100% - 2 * vaR(--margin-inline), var(--max-width));
	border-radius: var(--borr-300);
	overflow: hidden;

	&.visible {
		display: block;
	}

	&__close-btn {
		position: absolute;
		right: 2.4rem;
		top: 2.4rem;
		padding: 0.75em;
		background: none;
		border: none;
		cursor: pointer;

		&:focus {
			outline: 2px solid var(--clr-primary-400);
		}
	}

	&__close-icon {
		filter: brightness(0) invert(1);
	}

	&__heading {
		@include mixins.accent-font;
		padding-block: 1em;
		padding-inline: var(--elements-padding);
		font-size: var(--fz-modal-heading);
		color: var(--clr-neutral-200);
		background-color: var(--clr-neutral-800);
	}

	&__body {
		--flow-spacer: 1.375em;
		padding: var(--elements-padding);
		background-color: var(--clr-neutral-200);
	}

	&__summary {
		padding: 0;
		color: var(--clr-neutral-500);
		background-color: transparent;
	}

	&__checkout {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mixins.mq(medium) {
			margin-top: 5rem;
		}
	}

	&__checkout-price {
		@include mixins.accent-font;
		font-size: var(--fz-modal-checkout-price);

		&--md {
			display: none;
		}

		@include mixins.mq(medium) {
			&--md {
				display: inline-block;
			}

			&--sm {
				display: none;
			}
		}
	}
}
