@use '../base/mixins';

.plan-creation-form {
	--flow-spacer: 9rem;
	display: flex;
	flex-direction: column;
	margin-bottom: clamp(12rem, 18.75vw, 17rem);

	&__details {
		& > summary {
			--icon-angle: 0;
			@include mixins.accent-font;
			/* layout */
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 3.2rem;
			/* typography */
			font-size: var(--fz-dropdown-heading);
			color: var(--clr-neutral-500);
			/* other */
			cursor: pointer;

			/* arrow */
			& img {
				transform: rotate(var(--icon-angle));
				transition: transform 0.35s ease;
			}
		}

		&[open] {
			& > summary {
				--icon-angle: -180deg;
			}
		}
	}

	/* when details are not open, next sibling overrides flow spacer to be closer */
	&__details:not([open]) + &__details {
		margin-top: 3rem;
	}

	&__radio-group-field {
		--even-columns-spacer: clamp(1.6rem, 2vw, 2.4rem);
		border: none;
	}

	& button[type='submit'] {
		align-self: flex-end;
		margin-top: 4rem;
	}
}
