@use '../base/mixins';

.plan-steps {
	--min-padding: 12rem;
	--max-padding: 20rem;
	padding-block: clamp(var(--min-padding), 18.75vw, var(--max-padding));

	&__heading {
		color: var(--clr-neutral-500);
	}

	&__steps {
		--even-columns-spacer: 6rem;

		@include mixins.mq(medium) {
			--even-columns-spacer: 2rem;
		}

		@include mixins.mq(large) {
			--even-columns-spacer: clamp(6rem, 1rem + 6vw, 10rem);
		}
	}
}
