@use '../base/mixins';

.primary-header {
	--bg-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');

	&__body {
		--min-padding-top: 10rem;
		--max-padding-top: 12.5rem;
		--min-padding-bottom: 10rem;
		--max-padding-bottom: 11.5rem;
		/* spacing */
		padding : {
			top: clamp(var(--min-padding-top), 17.5vw, var(--max-padding-top));
			bottom: clamp(var(--min-padding-bottom), 15vw, var(--max-padding-bottom));
		}
		/* typography */
		text-align: center;
		/* appearance */
		border-radius: var(--borr-400);
		@include mixins.background-image-reset;
		background-image: var(--bg-image);
	}

	&__heading {
		font-size: var(--fz-900);
		line-height: 1;

		&--small {
			font-size: var(--fz-700);
		}
	}

	&__cta {
		margin-top: 2.25em;
	}

	&--about {
		--bg-image: url('../assets/about/mobile/image-hero-whitecup.jpg');
	}

	@include mixins.mq(medium) {
		--bg-image: url('../assets/home/tablet/image-hero-coffeepress.jpg');

		&__body {
			text-align: initial;
		}

		&--about {
			--bg-image: url('../assets/about/tablet/image-hero-whitecup.jpg');
		}
	}

	@include mixins.mq(large) {
		--bg-image: url('../assets/home/desktop/image-hero-coffeepress.jpg');

		&--about {
			--bg-image: url('../assets/about/desktop/image-hero-whitecup.jpg');
		}
	}
}
