@use '../base/mixins';

.primary-header {
	&__body {
		--min-padding-top: 10rem;
		--max-padding-top: 12.5rem;
		--min-padding-bottom: 10rem;
		--max-padding-bottom: 11.5rem;
		--bg-image: url('../assets/home/mobile/image-hero-coffeepress.jpg');
		/* spacing */
		padding : {
			top: clamp(var(--min-padding-top), 17.5vw, var(--max-padding-top));
			bottom: clamp(var(--min-padding-bottom), 15vw, var(--max-padding-bottom));
		}
		/* typography */
		text-align: center;
		/* appearance */
		border-radius: var(--borr-400);
		@include mixins.background-image-reset;
		background-image: var(--bg-image);

		@include mixins.mq(medium) {
			--bg-image: url('../assets/home/tablet/image-hero-coffeepress.jpg');
			text-align: initial;
		}

		@include mixins.mq(large) {
			--bg-image: url('../assets/home/desktop/image-hero-coffeepress.jpg');
		}
	}

	&__heading {
		font-size: var(--fz-900);
		line-height: 1;
	}

	&__cta {
		margin-top: 2.25em;
	}
}
