@use '../base/mixins';

.quality {
	margin-top: var(--quality-overflow-spacer);

	&__image {
		--margin-top: calc(var(--quality-overflow-spacer) * -1);
		margin-top: var(--margin-top);
	}

	@include mixins.mq(large) {
		&__image {
			margin-top: 0;
			transform: translateY(var(--margin-top));
		}
	}
}
