.reasons {
	--min-gap: 2.4rem;
	--max-gap: 3rem;
	--even-columns-spacer: clamp(var(--min-gap), 3vw, var(--max-gap));

	&__body {
		--min-padding-block: 6.4rem;
		--max-padding-block: 10rem;
		padding-block: clamp(var(--min-padding-block), 12vw, var(--max-padding-block));
	}

	&__header {
		--min-margin-bottom: 6.4rem;
		--max-margin-bottom: 9rem;
		margin-bottom: clamp(var(--min-margin-bottom), 8vw, var(--max-margin-bottom));
	}
}
